.FoamTreeCsv {
  padding: 1em;
  box-sizing: border-box;
  height: 100vh;

  display: grid;
  grid-template-columns: auto 26em;
  grid-template-rows: auto;
  grid-template-areas:
      "visualization settings";
}

.FoamTreeCsv .visualization {
  position: relative;
}
.FoamTreeCsv .settings {
  padding-left: 1em;
}