.FoamTreeCsv {
  box-sizing: border-box;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;

  display: grid;
  grid-template-columns: auto 24em;
  grid-template-rows: auto;
  grid-template-areas:
      "visualization settings";
}

.FoamTreeCsv .visualization {
  position: relative;
}
.FoamTreeCsv .settings {
  padding-left: 1em;
}