@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./theme.css";

body {
  margin: 0;
  background: #f0f0f0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}