.OperationLog {
  font-family: var(--monospace-font-family);
  font-size: 85%;
  max-height: 20em;
  overflow-y: auto;
}
.LogEntry:first-child {
  border-top: 1px solid grey;
}
.LogEntry {
  display: flex;
  padding: 0 0.5em;
  border-bottom: 1px solid grey;
}
.LogEntry.info {
  background-color: hsl(200, 100%, 97%);
  border-color: hsl(200, 100%, 90%);
}
.LogEntry.warning {
  background-color: hsl(44, 100%, 97%);
  border-color: hsl(44, 100%, 90%);
}
.LogEntry.error {
  background-color: hsl(0, 100%, 97%);
  border-color: hsl(0, 100%, 90%);
}